html {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --primary-bg-colour: #09BC8A
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #fffdf7;
}
.container {
   display: flex;
}

.sidebar {
    background-color: var(--primary-bg-colour);
    color: #fffdf7;
}

.header {
    font-size: xx-large;
}
.hero {
    display: grid;
    
    background-color: var(--primary-bg-colour);
    color: #fffdf7;
    
}
.hero .search {
    display: flex;
    margin: 8px;
    
}
.hero .user-info {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 8px;
}
.hero .user-info .profile {
    display: flex;
}

#search-bar {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    background-color: #f6f6f6;
    border-radius: 1.5rem;
}
#site-search {
    background: #f6f6f6;
    margin-right: auto;
    border-radius: 8px;
    outline: none;
    border:none;
    
}

#search-button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

#username {
    margin-left: auto;
    padding: 0.5em;
}
#button-list {
    display: flex;
    justify-content: center;
    margin: 8px;
    gap: 8px;
}

.content {
    width: 100%;
}