html {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --primary-bg-colour: #0ACD95;
    --article-bg-colour: #4B44DC;
    --text-colour: #010204;
    --article-colour: #07ab7c;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--text-colour);
}
.container {
   display: flex;
}

.sidebar {
    background-color: var(--primary-bg-colour);
    color: var(--text-colour);
    padding: 0.5em;
}

.header {
    font-size: xx-large;
}
.hero {
    display: grid;
    background-color: var(--primary-bg-colour);
    color: var(--text-colour);
    
}
.hero .search {
    display: flex;
    margin: 8px;
    
}
.hero .user-info {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 8px;
}
.hero .user-info .profile {
    display: flex;
}

#search-bar {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    background-color: #f6f6f6;
    border-radius: 1.5rem;
}
#site-search {
    background: #f6f6f6;
    margin-right: auto;
    border-radius: 8px;
    outline: none;
    border:none;
    
}

#search-button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

#username {
    margin-left: auto;
    padding: 0.5em;
}
#button-list {
    display: flex;
    justify-content: center;
    margin: 8px;
    gap: 8px;
}
.profile div {
    padding: 0.5em;
}
.content {
    width: 100%;
}

.content.main {
    display: flex;
    flex: 1;
    padding: 1em 2em;
}

#cards {
    flex: 3;
}

#cards > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5em;
}

#cards article {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    padding: 1em;
    background-color: var(--article-bg-colour);
    border-color: #000;
    border-radius: 1em;
    box-shadow: inset 0.5em 0 0 var(--primary-bg-colour), 0.2em 0.2em 0.2em rgba(0,0,0,0.3);
    color: white;
    font-size: 16px;
    
}
#cards article a {
    color: white;
}
#cards article > img {
    border-radius: 0.5em;
    height: auto;
    margin: 0 auto;
    max-width: 300px;
}