html {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --primary-bg-colour: #6d72c3
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #fffdf7;
}
.container {
   display: flex;
}

.sidebar {
    background-color: var(--primary-bg-colour);
    color: #fffdf7;
}

.header {
    font-size: xx-large;
}
.hero {
    display: grid;
    
    background-color: var(--primary-bg-colour);
    color: #fffdf7;
    
}
.hero .search {
    display: flex;
    margin: 8px;
}
.hero .user-info {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 8px;
}
.hero .user-info .profile {
    display: flex;
}

#username {
    margin-left: auto;
}
#button-list {
    display: flex;
    justify-content: center;
    margin: 8px;
    gap: 8px;
}

.content {
    width: 100%;
}